{{ block "index" . }}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Index</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link href="css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <p>Sansai</p>
      <a href="/account">Form</a>
    </header>
    <hr />
    <script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener('htmx:beforeSwap', function(evt) {
            if (evt.detail.xhr.status === 422) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
    })
    </script>
  </body>
</html>
{{ end }}
